

::-webkit-scrollbar {
    width: 3px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #027386;
  }
/* تهيئة أساسية */
body {
  font-family: "Arial", sans-serif;
  background-color: #111;
  color: white;
  margin-top: 56px; /* لتعويض شريط التنقل الثابت */
}

/* تخصيص شريط التنقل */
.navbar {
 background: linear-gradient(to right, #000000, #027386); /* تدرج ألوان أسود وأزرق */
 font-size: 25px;
 font-weight: 600;
}
.nav-link {
 color: #ffffff !important; /* لون النص في الروابط */
 margin-left: 30px;
}
.nav-link:hover {
 color: #000000 !important; /* لون النص عند التمرير */

}

/* قسم الصفحة الرئيسية */
#home {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

/* خلفية الصور المتغيرة */
.background-slideshow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 2s ease-in-out;
}

.slide.active {
    opacity: 1;
}

/* تنسيق النص */
.container {
    z-index: 1;
}

#home h1, #home p {
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
}

/* المنتجات */
.card {
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  height: 200px;
  object-fit: cover;
}

.btn-primary {
  background-color: #027386;
  border-color: #027386;
}

.btn-primary:hover {
  background-color: #004085;
  border-color: #003366;
}

/* قسم الأخبار المحسن */
#news {
    background-color: #222;
}

#news h2 {
    color: #333;
    font-weight: bold;
    font-size: 2.5rem;
}

.card {
    border: none;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}

.card-img-top {
    height: 250px;
    object-fit: cover;
    border-bottom: 2px solid #007bff;
}

.card-title {
    font-weight: bold;
    color: #333;
}

.card-text {
    color: #555;
}

.card-footer {
    background-color: transparent;
    border-top: none;
}

.card-footer small {
    color: #777;
}

/* قسم التواصل الاجتماعي */
#social-media {
  padding: 50px 0;
  background-color: #111;
}

.social-icons {
  margin-top: 20px;
}

.social-icon {
  color: white;
  margin: 0 15px;
  font-size: 2.5rem;
  transition: color 0.3s ease;
}

.social-icon:hover {
  color: #027386; /* لون مختلف عند التحويم */
filter: drop-shadow(2px 2px 20px #ffffff);
}
